body{
    
    font-family: Arial, helvetica, sans-serif;
    line-height: 1.5;
    background: papayawhip;
    color: darkblue;

}


p{
    color:#333;

    font-size: 1rem;
    /* width:100ch; */
    padding: .5em;
}