@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    font-size:1.5rem;
}

.block{
    width:30vw;
    height:30vw;
    background-color: #000;
    color: #fff;
    padding: 1rem;
}

.left{
    float:left;
    margin: 1rem;
}

.right{
    float:right;
    margin: 1rem;
}

.clear{
    clear:both;
}

section{
    background-color: bisque;
    border: 1px solid #333;
    padding: 1rem;
    /* overflow:auto; */
    /* legacy way of doing it */
    display: flow-root; 
    /* correct way to do it */
}