html{
    scroll-behavior: smooth;
}

section{
    height: 100vh;

}

.blue{background-color: blue;}
.red{background-color: red;}
.green{background-color: green;}

header, footer{
    color: white;
    text-align: center;
    height: 100px;
    
}

header{
    position: sticky;
    top: 0;
    font-size:5rem;
}

footer{
background-color: black;
position: sticky;
font-size: 3rem;
bottom:0;
}

a{
    text-decoration: none;

}

a:hover{
    color:hsl(0, 0%, 100%,.8)
}
a:visited{
    color: hsl(0, 0%, 100%);
}

.social{
    background-color: royalblue;
    color: white;
    font-size: inherit;
    padding: 1rem;
    position: fixed;
    top:30%;
    left:0;
    z-index:1;
}