@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
    background-image: radial-gradient(circle,whitesmoke,hsla(176, 93%, 49%, 0.8));
}

.header{
    margin-bottom: 5%;
    text-align: center;
    background-color: azure;
    box-shadow: 0px 1px 2px  black;
    
}
main h2{
    margin-bottom:2%;
    border-bottom: 1px solid black;
    text-align: center;
    width:100%;
    
    
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
    line-height: 1.5;
    flex-grow:1;
    
}

.footer{
    background-color: azure;
    text-align: center;
    padding:3%;
    
      
}

.main-li-link{
    display:block;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.848);
    

}

.main-li-link:hover{
    
    color:rgba(0, 0, 0, 0.6);
    background-color: whitesmoke;
    border-radius: 10px;
    
}

.main-li{
    list-style: none;
}


@media screen and (min-width: 568px) {
    body{
        font-size: 1rem;
    }
    
}

@media screen and (min-width: 768px) {
    body{
        font-size: 1.2rem;
    }
    
}

@media screen and (min-width: 992px) {
    body{
        font-size: 1.6rem;
    }
    
}

