*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header,h2{
    
    text-align: center;
    border:2px solid black;
    background-color:papayawhip;
}

header{
    margin-bottom: 10%;
}



body{
    font-family:Arial, Helvetica, sans-serif;
    min-height: 1100vh;
    padding: 20px;
    background-color: lightblue;
}

.container,.container1,.container2,.container3,.container4,.container5,.container6,.container7,.container8,.container9,.container10 {
    margin-bottom:10%;
    max-width: 800px;
    min-height: 400px;
    margin-inline: auto;
    border: 1px solid #000;
    display:flex;
    

}

.container{
    justify-content: center;
}

.container1{
    
    justify-content: flex-end;

}

.container2{
    
    justify-content: space-between;

}

.container3{
   
    justify-content: flex-start;

}

.container4{
    justify-content: space-evenly;
    align-items: flex-end;
}

.container5{
    justify-content: space-evenly;
    align-items: center;
}

.container6{
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.container7{
    justify-content: space-evenly;
    align-items: flex-end;
    flex-direction: column;
}


.container8{
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
}

.container9,.container10{
    justify-content: space-evenly;
    align-items: center;
    /* flex-direction: row-reverse;
    flex-wrap: wrap; */
    flex-flow: row wrap;
    
}

.container9{
    align-content: flex-start
}

.container10{
    gap: 1rem;
    align-content: space-evenly;
}




.box,.box1{
    min-width: 100px;
    height: 100px;
    background-color: lightgreen;
    color: #000;
    font-size: 2rem;
    padding:0.5rem;
}

.box1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box2{
    /* min-width: 100px; */
    height: 100px;
    background-color: lightgreen;
    color: #000;
    font-size: 2rem;
    padding:0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-grow: 1; 
    flex-basis: 100px;
}


.box2:nth-child(2){
    flex-grow:2;
    order:-1;
}