@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
padding: 10%;
font-size: 2rem;
font-family: 'Roboto', sans-serif;
background-color: hsl(37, 100%, 92%);
}

h1,h2{
    text-align: center;
    text-decoration: underline;
}

.article{
    border:2px solid black;
    margin-bottom: 5%;
}

a{
    color: hsl(207, 44%, 49%);
}

/* a:visited{
    color: purple;
} */

a:hover,a:focus{
    color:hsl(189, 44%, 49%,0.8);
    background-color: hsl(60, 100%, 92%,.7);
    /* opacity:.8; */

}

a:active{
    color:red;
}
