*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 1.5rem;
    min-height: 200vh;
}



.outer-container{
    border: 2px dashed black;
    width: 75vw;
    height: 85vh;
    margin: 40px auto;
    /* position: relative; */

}

.inner-container{
    border: 2px solid red;
    width: 40vw;
    height: 50vh;
    margin: 200px auto;
  
}

.box{

    width:150px;
    height:150px;
    color: #fff;
    padding: 1rem;

}

.absolute{
    background-color: #00f;
    position:absolute;
    /* top:-10000px; */
    left:0px;
}

.relative{
    background-color: red;
    position: relative;
    top: 300px;
    left:100px;
}

.fixed{
    background-color: green;;
    position: fixed;
    top:100px;
}

.sticky{
    background-color: black;
    position: sticky;
    top:0;
}
